



.alredy {
    padding-top: 59px;
    padding-bottom: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../assets/img/alredy/alredy__bg.png);
    position: relative;
}
.alredy::before {
    opacity: 80%;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #060606;
}
.alredy__title {
    position: relative;
    margin-bottom: 27px;
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;

}
.alredy__button {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding: 13px 24px 13px 24px ;
    border: 2px solid #ffffff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all .7s;
}
.alredy__button:hover {
    color:#19BD9A;
    border-color: #19BD9A;
}
.testimonials {
    background-color: #F3F3F3;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials__title {
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 20px;
    color: #333B46;
    margin-bottom: 41px;
}
.testimonials__subtitle {
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 14px;
    color: #81868E;
    line-height: 25px;
    text-align: center;
    width: 457px;

}
.testimonials__card-wrapper {
    display: flex;
    background-color: white;
    padding: 60px 117px 60px 102px;
}
.testimonials__card__img {
    margin-right: 69px;
}
.testimonials__card__text__item {
    width: 754px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 16px;
    color: #81868E;
    line-height: 25px;
    text-align: center;
    font-weight: 600;
}
.testimonials__card__text__name {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 16px;
    color: #19BD9A;
    font-weight: 900;
    margin-bottom: 12px;
}
.testimonials__card__text__position {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 16px;
    color: #81868E;
}