.featured-work {
    background-color: #ffffff;
    display: flex;
   @include flex (center, center, column);
    padding: 50px 0px 50px 0px;
}
.featured-work__title {
    text-transform: uppercase;
    color: $color_text_grey;
    font-size: $H300;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 41px;
}
.featured-work__subtitle {
    color: $color_text_grey;
    font-size: $H50;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-bottom: 60px;
}
.featured-work__image-list {
    @include flex (flex-start,flex-start, row);
    position: relative;
}
.featured-work__image-list__item__img:nth-child(1) {
height: 310px;
width: 100%;
}
.featured-work__image-list__item__img:nth-child(2) {
height: 310px;
width: 50%;  
  }
.featured-work__image-list__item__img:nth-child(3) {
height: 310px;
width: 50%;        
}

.list-image__items-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $H300; 
    text-transform: uppercase;
    color: $color_text_white;
    position: absolute;
    font-weight: bold;
    left: 55%;
    top: 50%;
}
.list-image__items-text_branding {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $H300;  
    font-weight: bold;
    text-transform: uppercase;
    color: $color_text_white;
    position: absolute;
    left: 83%;
    top: 50%;
}
.featured-work__form {
    width: 100%;
    height: 116px;
    @include flex (center, center, row);
    background-image: url(../assets/img/featured_work/legs.png);
    background-position: center;
    position: relative;
    z-index: 1;
}
.featured-work__form:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: $color_hover_button;
    opacity: 60%;
}
.featured-work__form__text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;    
    color: #ffffff;
    padding-right: 140px;  
    font-weight: bold;
    position: absolute;
    z-index: 3;
}
.featured-work__form__button {
    width: 141px;
    position: absolute;
    z-index: 3;
    left: 80%;
    transition: all .7s;
    color:$color_text_white;
}
